@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
:root{
    --brown-color:white;
    --primary-color: rgba(19, 71, 110, 0.835);

}

::-webkit-scrollbar{
    width: 3px;
    height: 1px;
}
::-webkit-scrollbar-track{
    background-color: rgb(250, 250, 250);
}
::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
}
body{
    font-family: roboto;
    background-color: var(--brown-color);
}

.banner{
    margin-top: 10rem;
    display: flex;
    width: 100%;
    height: 500px;
}
.text-banner{
    display: flex;
    width: 45%;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    ;
}
.text-banner h1{ margin-bottom: 20px;
    font-size: 70px;
    font-family: Lobster;
    margin-left: 70px;
    
}
.text-banner h2{
    color:  rgba(77, 73, 73, 0.959); 
    margin-bottom: 20px;
    font-family: Lobster;
    font-size: 50px ;
}
 .img-banner{ 
    display: flex;
    width: 55%;
    margin-left: 100px;
    margin-bottom: 10px;
    justify-content: flex-start;
}

.img-banner img{
height: 100%;
width: 60%;
border-radius: 60px;
&:hover{
    transform: scale(1.05);
    transition: 0.5s ease;
}
}


a{
    text-decoration: none !important;
}
section,footer{
    padding-left: 4rem;
    padding-right: 4rem
}
.header-navbar{
    display: flex;
    padding-top: 0.4rem;
    margin-bottom: 2.5rem;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    height: 100px;
    background-color:  rgba(19, 71, 110, 0.835);
   
}
.header-navbar-logo{
width: 30%;
display: flex;
justify-content: center;
align-items: center;

}
.header-navbar .header-navbar-logo img{
    width: 200px;
}

.header-navbar .header-navbar-links{
    text-align: center;
    font-size: larger;
    width: 70%;
   display: flex;
    justify-content: center;
    align-items: center;
   
}
.header-navbar .header-navbar-links a{
    color: white;
    margin-left: 50px;
    font-weight: bolder;
    &:hover{
        color: rgb(211, 211, 211);
    }
}
.about{
    margin-top: 200px;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    
}
.part{
    display: flex;
    width: 100%;
    justify-content: center;
}
.part .title-descp{
    display: flex;
    align-items: center;
    width: 50%;
    flex-direction: column;
    font-size: large;
    
    
}
.part .title-descp h4 {
    margin-top: 10px;
    margin-bottom: 50px;
}
 .part2{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row-reverse;
}
.part2 .title-descp{
    display: flex;
    align-items: center;
    width: 50%;
    flex-direction: column;
    font-size: large;
    
    
}
.part2 .title-descp h4 {
    margin-top: 10px;
    margin-bottom: 50px;
}
.img-descp{
    display: flex;
    width: 50%;

}
.img-descp img{
    margin-left: 30px;
    margin-bottom: 30px;
}
.work{
    background-color: rgba(19, 71, 110, 0.596);
    color: beige;
}
.title{
 text-align: center;
font-family: fantasy;
margin-bottom: 40px;
margin-top: 40px;
padding: 20px;
color: white;
letter-spacing: 50px;
font-size: 50px;
background-color: rgba(82, 134, 141, 0.705);

}
.content{
    display: flex;
    width: 100%;
   
}
.intro{
    margin-left: 30px;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.quest{ font-weight: bold;
    margin-bottom: 6px;
    font-size: larger;
}
.myname{
    font-size: xx-large;
font-weight: bolder;
margin-bottom: 30px;

}
.text{
    display: flex;
    width: 50%;
    flex-direction: column;
    
}
.para{
    font-size: large;
    margin-bottom: 10px;
    color: rgba(77, 73, 73, 0.959);
    text-align: justify;

}
.img-about{
    display: flex;
    width: 60%;
    padding: 80px;
   
    
}

.btn {
  background-color: #c2e2fb;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: rgb(0, 49, 128);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 22px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10px;
  margin-left: 140px;
}

.btn:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


.text-resume{ 
    padding-right: 70px;
}
.CV{
    background-color: rgba(19, 71, 110, 0.596);
    color: beige;

}
.CV .img-cv img{
    margin-left: 350px;
    border-radius: 10px;
    box-shadow: (44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    margin-bottom: 30px;

}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    width: 70%;
    height: 50px;
}

textarea{
    width: 70%;
}

.field{
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0,0,0);
    border-radius: 1rem;
    background-color: white;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.3s;
}

.field:hover{
    background-color: rgba(161, 210, 247, 0.378);
}

.field:focus{
    background-color: #fff;
    border: 2px solid rgba(19, 71, 110, 0.596);
}

.contact .btn{
    margin-left: 30px;
    
}

.dataperso{
    color:  rgba(77, 73, 73, 0.959); 
}
.dataperso h2{
    height: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Lobster;
}

footer{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}


