@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    font-family: roboto;
    background-color: white
    
}
a{
    text-decoration: none;
}
section,footer{
    padding-left: 4rem;
    padding-right: 4rem
}

.navbar{
    display: flex;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
   
}
.navbar-logo{
width: 30%;

display: flex;
justify-content: center;
align-items: center;
}
.navbar .navbar-logo img{
    width: 100px;
}


.navbar .navbar-links{
    text-align: center;
    word-spacing: 60px;
    font-size: larger;
    width: 70%;
   
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.navbar .navbar-links a{
    color: black;
    margin-left: 20px;
    font-weight: bolder;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 200px;
    font-size: 30px;
    
}




